.nav-tabs > li, .nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
  text-align: center;
}

.table-header, .table-download {
  vertical-align: middle !important;
  text-align: center;
}

.table-body-list {
  vertical-align: middle !important;
}
